/KafkaExample/.idea/
/PopularTags/.idea/
/PopularTags/project/project/target/
/PopularTags/project/target/
/PopularTags/target/
/KafkaExample/project/project/target/
/KafkaExample/project/target/
/KafkaExample/target/